$dark-color: #424242;
$light-silver: #878787;
$another-silver: #99a0a3;
$border-color: #c9cacc;
$black: #000;
$white: #fff;
$background-white-color: #f3f4f5;
$dark-blue: #3c4cad;
$another-blue: #1157a7;
$light-blue: #00c3ff;
