.flight-page {
    position: relative;
    top: 0;
    left: 0;
    background-color: $background-white-color;
    width: 100%;
    height: 1024px;

    .flight-container {
        position: absolute;
        width: 680px;
        background-color: $white;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 70px;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 65px 40px 40px 40px;

        .header {
            margin-bottom: 24px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .departure-menu {
                display: flex;
                align-items: flex-end;
                & > * {
                    display: inline;
                }
                div {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 25px;
                    color: #424242;
                }
                i {
                    margin: 0 15px;
                    font-size: 20px;
                }
            }

            .date-departure {
                display: flex;
                align-items: flex-end;
                .date {
                    font-family: 'SF Pro Text';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 22px;
                    color: $another-blue;
                    margin-right: 15px;
                }
                .calendar-section {
                    display: flex;
                    align-items: flex-end;

                    .calendar-wrapper {
                        position: relative;
                        overflow: hidden;
                        width: 25px;
                        height: 23px;
                        &::after {
                            content: url('../images/calendar.png');
                            z-index: -1;
                            display: block;
                            font-size: 2rem;
                            color: STEELBLUE;
                            background: none;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            top: -5px;
                            right: -25px;
                        }
                        .calendar {
                            opacity: 0;
                            transform: translateX(-120px);
                            cursor: pointer;
                            border: none;
                            width: 200px;
                            height: 23px;
                            background-color: rgba(0, 0, 0, 0);
                            color: rgba(0, 0, 0, 0);
                            &::-webkit-calendar-picker-indicator {
                                opacity: 0; //removes triangle indicator
                                width: 100px;
                            }

                            &:active,
                            &:focus {
                                outline: none;
                                background-color: rgba(0, 0, 0, 0);
                                color: rgba(0, 0, 0, 0);
                            }
                        }
                    }
                }
            }
        }
        .favourite-flight {
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            margin-bottom: 23px;

            .fav-count {
                font-weight: 600;
                color: $dark-blue;
            }
        }
        .flight-list-wrapper {
            overflow-y: scroll;
            & > * {
                font-family: 'SF Pro Text';
            }
            .list {
                .list-item {
                    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
                    margin-bottom: 17px;
                    padding: 0 10px 17px 10px;

                    .item-wrapper {
                        display: flex;
                        align-items: center;
                        & > div {
                            display: inline-block;
                        }
                        .icon-section {
                            margin-right: 24px;
                            .icon-wrapper {
                                background-color: rgba(0, 119, 255, 0.05);
                                border-radius: 50%;
                                padding: 15px;
                            }
                        }
                        .flight-direction-wrapper {
                            margin-right: 69px;
                            width: 297px;
                            font-family: 'SF Pro Text';
                            .flight-direction {
                                font-style: normal;
                                font-weight: 300;
                                font-size: 17px;
                                line-height: 22px;
                                letter-spacing: -0.408px;
                                color: $dark-color;
                            }

                            .date,
                            .company {
                                font-style: normal;
                                font-weight: 300;
                                font-size: 14px;
                                line-height: 22px;
                                letter-spacing: -0.408px;
                                color: $light-silver;
                            }
                        }

                        .price-section {
                            width: 108px;
                            .favourite-flight {
                                margin-bottom: 22px;
                                text-align: right;
                                .unlike,
                                .like {
                                    font-size: 21px;
                                    cursor: pointer;
                                }
                                .unlike {
                                    opacity: 0.6;
                                }
                            }
                            .text {
                                font-family: 'SF Pro Text';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 11px;
                                line-height: 22px;
                                letter-spacing: -0.408px;
                                color: $light-silver;
                                display: inline;
                                margin-right: 8px;
                            }
                            .price {
                                font-family: 'SF Pro Text';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 17px;
                                line-height: 22px;
                                letter-spacing: -0.408px;
                                color: $dark-color;
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }
}
